name: Foundry Core Tests
on:
  push:
    branches:
      - master
      - 'dev/**'
  pull_request:
    branches:
      - master

jobs:
  test:
    if: "! contains(toJSON(github.event.commits.*.message), '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '9.3.0'
      - name: Run Tests
        run: gradle :foundry-core:test --stacktrace
      - name: Publish Test Report
        uses: actions/upload-artifact@v4
        if: always() # run even if tests fail
        with:
          name: test-results
          path: build/reports/tests/test/
          retention-days: 5
